li {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.main-content{
	display: flex;
	flex-flow: column wrap;
	width: 50%;
}

#main-only-ul li {
	margin: 1rem;
}

.main-content textarea{
	border: 1px solid black;
	resize:none;
}

.main-content textarea:nth-of-type(1){
	border-bottom: none;
	overflow-y: visible;
}

.main-content textarea:focus{
	outline: none;
	border: 2px solid black;
}

.settings label{
	user-select: none;
}

.done-checkbox{
	vertical-align: middle;
}

.settings{
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-end;
}

form {
	width: 80%;
}